<div class="components-div">
    
    <app-image-text-box
    [text]="'Externalizați riscurile de menținere a legăturii cu mai multi furnizori odată,  în cadrul aceluiași program de dezvoltare.'"
    [title]="'Beneficiați de serviciile unei rețele diversificate de specialiști'"
    [src]="'https://images.unsplash.com/photo-1483478550801-ceba5fe50e8e?ixid=M3wzOTE5Mjl8MHwxfHNlYXJjaHwxMHx8dGVjaG5vbG9neSUyMHNvbHV0aW9uc3xlbnwwfHx8fDE3MTk3MDM3NzF8MA&ixlib=rb-4.0.3&auto=format&fit=crop&w=400&h=304'"
    ></app-image-text-box>

    <app-text-box
    [text]="'Programe de creștere a competențelor și echipare a personalului cheie cu metodologii și exemple de bune practici pentru creșterea eficienței proceselor de business.'"
    [title]="'Programe de formare'"
    ></app-text-box>

    <app-image-text-view
    [text]="'Viteza de reacție este vitală în procesul decizional, iar aceasta depinde de diversitatea și calitatea informațiilor disponibile.'"
    [title]="'Suport decizional'"
    [src]="'https://images.unsplash.com/photo-1573164574572-cb89e39749b4?ixid=M3wzOTE5Mjl8MHwxfHNlYXJjaHwyN3x8dGVjaG5vbG9neSUyMHNvbHV0aW9uc3xlbnwwfHx8fDE3MTk3MDM3NzF8MA&ixlib=rb-4.0.3&auto=format&fit=crop&w=503&h=360'"
    ></app-image-text-view>

    <app-review-container
    [text]="'Colaborarea cu Enovis a fost un moment de cotitură pentru afacerea noastră. Soluțiile lor de software personalizate au sporit semnificativ eficiența și productivitatea noastră.'"
    [src]="'https://images.unsplash.com/photo-1488751045188-3c55bbf9a3fa?ixid=M3wzOTE5Mjl8MHwxfHNlYXJjaHwyMnx8dGVjaG5vbG9neSUyMHNvbHV0aW9uc3xlbnwwfHx8fDE3MTk3MDM3NzF8MA&ixlib=rb-4.0.3&auto=format&fit=crop&w=48&h=48'"
    [name]="'Michael Johnson'"
    [location]="'New York'"
    ></app-review-container>

    <app-contact-form></app-contact-form>

    <app-title-texts-image
    [title]="'Soluții software specializate și aplicații personalizate'"
    [secundaryTitleNo1]="'Soluții inovatoare pentru succes'"
    [secundaryTitleNo2]="'Software la comandă'"
    [textNo1]="'Enovis oferă soluții software specializate, ce includ  metodologii moderne pentru eficientizarea  operațiunilor și controlul afacerii.'"
    [textNo2]="'Echipa noastră are expertiza de a analiza sistemele actuale, să ofere sfaturi practice și să dezvolte software personalizat care să acopere nevoile de îmbunătățire a proceselor de business.'"
    [src]="'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixid=M3wzOTE5Mjl8MHwxfHNlYXJjaHwxfHx0ZWNobm9sb2d5JTIwc29sdXRpb25zfGVufDB8fHx8MTcxOTcwMzc3MXww&ixlib=rb-4.0.3&auto=format&fit=crop&w=1224&h=424'"
    ></app-title-texts-image>

    <app-title-text
    [title]="'Soluții de consultanță de specialitate'"
    [text]="'Obțineți sfaturi practice pentru a face operațiunile mai eficiente și pentru a rămâne competitivi în lumea digitală de astăzi.'"
    ></app-title-text>

    <app-nav-bar></app-nav-bar>

    <app-contact-text-map></app-contact-text-map>
    
</div>

<app-secundary-footer></app-secundary-footer>

<app-common-footer></app-common-footer>