<app-image-text-box
[text]="'Externalizați riscurile de menținere a legăturii cu mai multi furnizori odată,  în cadrul aceluiași program de dezvoltare.'"
[title]="'Beneficiați de serviciile unei rețele diversificate de specialiști'"
[src]="'https://images.unsplash.com/photo-1483478550801-ceba5fe50e8e?ixid=M3wzOTE5Mjl8MHwxfHNlYXJjaHwxMHx8dGVjaG5vbG9neSUyMHNvbHV0aW9uc3xlbnwwfHx8fDE3MTk3MDM3NzF8MA&ixlib=rb-4.0.3&auto=format&fit=crop&w=400&h=304'"
></app-image-text-box>

<app-text-box
[text]="'Programe de creștere a competențelor și echipare a personalului cheie cu metodologii și exemple de bune practici pentru creșterea eficienței proceselor de business.'"
[title]="'Programe de formare'"
></app-text-box>

<app-image-text-view
[text]="'Suport decizional'"
[title]="'Viteza de reacție este vitală în procesul decizional, iar aceasta depinde de diversitatea și calitatea informațiilor disponibile.'"
[src]="'https://images.unsplash.com/photo-1573164574572-cb89e39749b4?ixid=M3wzOTE5Mjl8MHwxfHNlYXJjaHwyN3x8dGVjaG5vbG9neSUyMHNvbHV0aW9uc3xlbnwwfHx8fDE3MTk3MDM3NzF8MA&ixlib=rb-4.0.3&auto=format&fit=crop&w=503&h=360'"
></app-image-text-view>