:host {
    display: flex;
    padding: 5rem;
    padding-left: 20rem;
    padding-right: 20rem;
    align-items: center;
    justify-content: center;
    background-color: white;
    gap: 5rem;
}

div {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    padding: 1rem;
    width: 70%;
    padding-right: 0rem;
}

img {
    width: 600px;
    height: 400px;
}

strong {
    font-size: 1.6rem;
    padding: 1rem;
}

p {
    padding: 1rem;
    padding-top: 0rem;
}