:host {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1224px;
    align-self: center;
}

h3 {
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
}

.text-box-div {
    height: 150px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    align-self: center;
}

.text-boxes-container {
    display: flex;
    flex-direction: row;
    gap: 8rem;
    background-color: white;
    height: 150px;
    width: 100%;
    max-width: 1200px;
    align-self: center;
}

img {
    border-radius: 20px;
    width: 100%;
    max-width: 1224px;
    height: 440px;
    align-self: center;
}

p {
    color: gray;
    width: 90%;
}