<h1>CLAREVO</h1>

<app-title-texts-image
[title]="'A short story about us'"
[secundaryTitleNo1]="'Short title'"
[secundaryTitleNo2]="'Short title'"
[textNo1]="'Use this space to introduce yourself or your business to site visitors. Share who you are, what you do, and the purpose of this website.'"
[textNo2]="'Feel free to include your background, experiences, and any unique aspects that set your business apart. Highlight your mission, values, and the benefits your customers can expect. Pe scurt, CLAREVO este un procesator de date'"
[src]="'https://images.unsplash.com/photo-1563164232-b6ee5dd3e821?auto=format&fit=crop&w=1224&h=440'"
></app-title-texts-image>

<app-text-image-right
[src]="'https://images.unsplash.com/photo-1532547616536-557a0d4d29ad?auto=format&fit=crop&w=606&h=384'"
[text]="'Equipped with full air conditioning, a private pool, 3 on-suite bedrooms, and a spacious open living room kitchen area, Sunshine Bay Residences is an excellent choice for anyone dreaming of their own safe haven.'"
[title]="'Sunshine Bay Residence'"
></app-text-image-right>

<app-text-image-left
[src]="'https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=606,h=384,fit=crop/AE04xnODWbILwLO5/data-collected-Y4LJl1qJLDUx373K.png'"
[text]="'Co-designed by the world-renowned architect James Smith, our Bridgewater Joy residences offer top views of the nearby lake Michigan. Perfect for a small family, a professional couple, or anyone looking to set up a home office .'"
[title]="'Bridgewater Joy Residence'"
></app-text-image-left>

<app-text-image-right
[src]="'https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=606,h=384,fit=crop/AE04xnODWbILwLO5/dasboard-clarevo-mk39Lj9j9XfKOVl3.jpg'"
[text]="'Not just pleasant on the outside, our Pleasantview Gem Inn properties are especially popular among families. With underground parking and floor-to-ceiling windows, there is no shortage of natural light or space.'"
[title]="'Pleasantview Gem Inn'"
></app-text-image-right>