:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 91px;
    background-color: white;
}

app-title-texts-image {
    padding-bottom: 5rem;
}

h1 {
    font-size: 4rem;
    padding: 5rem;
    color: black;
}