:host {
    background-color: transparent;
    width: 1224px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

h3, p {
    text-align: center;
}

h3 {
    color: var(--color);
}

p {
    width: 50%;
}