:host {
    display: block;
    width: 400px;
    height: 400px;
    background-color: white;
}

img {
    border-radius: 20px;
}

p, h3 {
    padding: 0.5rem;
    width: 100%;
}

h3 {
    padding-bottom: 0rem;
    padding-top: 1rem;
}