:host {
    display: flex;
    flex-direction: column;
    gap: 0.45rem;
    width: 400px;
    height: 400px;
    background-color: white;
}

img {
    border-radius: 20px;
    margin-bottom: 1rem;
}

p {
    width: 90%;
}