:host {
    display: flex;
    padding: 5rem;
    padding-left: 20rem;
    padding-right: 20rem;
    align-items: center;
    justify-content: center;
    background-color: white;
}

div {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    padding: 1rem;
    width: 70%;
    padding-right: 0rem;
}

h3 {
    font-size: 3rem;
}

text {
    padding: 1rem;
}

iframe {
    width: 600px;
    height: 400px;
}

.mail-info-div {
    padding-top: 0rem;
}

.info-div {
    width: 55%;
    padding-top: 0rem;
    padding-bottom: 5rem;
}