:host {
    display: flex;
    padding: 5rem;
    padding-left: 50rem;
    padding-right: 50rem;
    align-items: center;
    justify-content: center;
    background-color: white;
}

div {
    display: flex;
    flex-direction: column;
}

h3 {
        margin-bottom: 0.6rem;
}

strong {
    font-size: 16px;
}

text {
    padding: 1rem;
}

iframe {
    width: 600px;
    height: 400px;
}

.info-div {
    gap: 3rem;
    width: 30%;
    margin-bottom: 7rem;
    margin-right: 10rem;
}

.adress-mail-div {
    gap: 1rem;
}
