<div class="info-div">
    <div>
        <h3>Contactează-ne</h3>
        <p class="text">Contactați-ne pentru consultanță de specialitate, modernizare tehnologică, software personalizat și soluții digitale adaptate nevoilor dumneavoastră.</p>
    </div>
    
    <div>
        <strong>Adresă</strong>
        <p>Ștefăniță Lupu 245, Hlincea, Iași</p>
    </div>
    
    <div class="mail-info-div">
        <strong>Mail</strong>
        <p>office&#64;enovis.ro</p>
    </div>
</div>

<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5431.053859421346!2d27.584417!3d47.10834400000001!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40cafb9fb7a5fd4b%3A0x86fbdb65db39041c!2sEnovis.ro!5e0!3m2!1sen!2sro!4v1723743736983!5m2!1sen!2sro" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>