
<div class="main-footer-div">
    <p id="rating">★★★★★</p>
    
    <p id="text">Colaborarea cu ENOVIS a dus la creșterea sustenabilității proiectelor noastre, prin implementarea unui sistem informatic și adoptarea unor reguli și bune practici în managementul proiectelor. </p>
    
    <img class="logo-img" src="https://images.unsplash.com/photo-1573164574511-73c773193279?ixid=M3wzOTE5Mjl8MHwxfHNlYXJjaHwyOXx8dGVjaG5vbG9neSUyMHNvbHV0aW9uc3xlbnwwfHx8fDE3MTk3MDM3NzF8MA&ixlib=rb-4.0.3&auto=format&fit=crop&w=656&h=656">
    
    <p id="contributor">Dacian Popa, CEO Micropack Automatizări</p>
    
    <div id="images-div">
        <img src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=169,fit=crop/AE04xnODWbILwLO5/download-mxB7zRXWEaTNoZMa.png">
        <img src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=169,fit=crop/AE04xnODWbILwLO5/logo-ambrasign-02-mePnyRJbDoTw2BZb.png">
        <img src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=169,fit=crop/AE04xnODWbILwLO5/logo-bolta-rece-04-m6LJ8BbWoZHlnZLz.jpg">
        <img src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=169,fit=crop/AE04xnODWbILwLO5/micropack-YleyLElvy0S9PrE7.png">
        <img src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=169,fit=crop/AE04xnODWbILwLO5/promergroup-01-YZ9bnv8zq2SJa6x2.png">
    </div>
</div>