<div class="footer-container">
    <div class="text-box-div-no-1">
        <h5><strong>Creștem împreună!</strong></h5>
        <p>Inovarea ţine de atitudine şi aparţine celor ce vor să iasă din tipare. </p>
        <p>Fii proactiv, solicită o întrevedere și alege soluţia potrivită nevoilor tale.</p>
    </div>

    <div class="text-box-div-no-2">
        <span>Suntem nerăbdători să ne prezinți provocările cu care se confruntă organizația ta și împreună să le depășim.</span>
        <p class="telephone-number-p">Tel: 0040768439062</p>
    </div>

    <div class="text-box-div-no-3">
        <div>
            <label>Solicită o întrevedere!</label>
            <input type="text" placeholder="Adresa de email" autocomplete="on" required="true">
        </div>
        <button>Contactează unul dintre specialiștii noștri</button>
    </div>
</div>

<p class="rights-reserved-p">© 2024. All rights reserved.</p>