<div class="footer-container">
    <div class="footer-wrapper">
        <div class="text-box-div-no-1">
            <strong class="strong-size2">Creștem împreună!</strong>
            <strong class="strong-size1">Inovarea ţine de atitudine şi aparţine celor ce vor să iasă din tipare. </strong>
            <strong class="strong-size1">Fii proactiv, solicită o întrevedere și alege soluţia potrivită nevoilor tale.</strong>
        </div>
    
        <div class="text-box-div-no-2">
            <strong class="strong-size1">Suntem nerăbdători să ne prezinți provocările cu care se confruntă organizația ta și împreună să le depășim.</strong>
            <p>Tel: 0040768439062</p>
        </div>
    
        <div class="text-box-div-no-3">
            <div>
                <p>Solicită o întrevedere!</p>
                <input type="text" placeholder="Adresa de email" autocomplete="on" required="true">
            </div>
            <button>Contactează unul dintre specialiștii noștri</button>
        </div>
    </div>
</div>
<p class="rights-reserved-p">© 2024. All rights reserved.</p>
