<app-title-text class="animate"
    [color]="'black'"
    [title]="'Soluții de succes pentru organizații'"
    [text]="'Oferim expertiză și instrumente moderne pentru controlul  și dezvoltarea organizațiilor.'"
></app-title-text>

<div class="solutions-secundary-div">
    <app-image-text-view class="animate"
    [title]="'Suport decizional'"
    [text]="'Viteza de reacție este vitală în procesul decizional, iar aceasta depinde de diversitatea și calitatea informațiilor disponibile.'"
    [src]="'https://images.unsplash.com/photo-1573164574572-cb89e39749b4?ixid=M3wzOTE5Mjl8MHwxfHNlYXJjaHwyN3x8dGVjaG5vbG9neSUyMHNvbHV0aW9uc3xlbnwwfHx8fDE3MTk3MDM3NzF8MA&ixlib=rb-4.0.3&auto=format&fit=crop&w=503&h=360'"
    ></app-image-text-view>

    <app-image-text-view class="animate"
    [title]="'Aliniere strategică a operațiunilor'"
    [text]="'Ajutăm personalul să rămână focusat pe activitățile care contribuie în mod real la viziunea de creștere a companiei.'"
    [src]="'https://images.unsplash.com/photo-1573164574397-dd250bc8a598?ixid=M3wzOTE5Mjl8MHwxfHNlYXJjaHwyOHx8dGVjaG5vbG9neSUyMHNvbHV0aW9uc3xlbnwwfHx8fDE3MTk3MDM3NzF8MA&ixlib=rb-4.0.3&auto=format&fit=crop&w=503&h=360'"
    ></app-image-text-view>
</div>

<div class="solutions-secundary-div">
    <app-image-text-view class="animate"
    [title]="'Instrumente de evaluare'"
    [text]="'Oamenii devin mai motivați și mai performanți când sunt evaluați pe criterii clare și transparente.'"
    [src]="'https://images.unsplash.com/photo-1573164574472-797cdf4a583a?ixid=M3wzOTE5Mjl8MHwxfHNlYXJjaHwyNnx8dGVjaG5vbG9neSUyMHNvbHV0aW9uc3xlbnwwfHx8fDE3MTk3MDM3NzF8MA&ixlib=rb-4.0.3&auto=format&fit=crop&w=503&h=360'"
    ></app-image-text-view>

    <app-image-text-view class="animate"
    [title]="'Eficientizarea proceselor'"
    [text]="'Modelarea și monitorizarea fluxurilor curente conduc în mod sigur la creșterea eficienței proceselor și inovare.'"
    [src]="'https://images.unsplash.com/photo-1573164713714-d95e436ab8d6?ixid=M3wzOTE5Mjl8MHwxfHNlYXJjaHwzMHx8dGVjaG5vbG9neSUyMHNvbHV0aW9uc3xlbnwwfHx8fDE3MTk3MDM3NzF8MA&ixlib=rb-4.0.3&auto=format&fit=crop&w=503&h=360'"
    ></app-image-text-view>
</div>