:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 91px;
    width: 100%;
    position: relative;
    background-color: white;
}

.banner-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

img {
    width: 100%;
    height: 771px;
    filter: grayscale(40%) brightness(80%) contrast(90%);
    z-index: 2;
    object-fit: cover;
}

h1 {
    color: white;
    position: absolute;
    top: 80px;
    font-size: 48px;
    z-index: 2;
}

p {
    color: white;
    position: absolute;
    top: 160px;
    width: 30%;
    text-align: center;
    z-index: 2;
}

.banner-div p {
    width: 370px;
}

app-contact-form {
    position: absolute;
    top: 250px;
    z-index: 2;
}

.reviews-div {
    display: flex;
    flex-direction: row;
    gap: 0.7rem;
    width: 100%;
    max-width: 1224px;
    justify-content: center;
    padding-bottom: 5rem;
}

.feedback-div {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
}

app-contact-text-map {
    padding-top: 2rem;
    padding-bottom: 7.5rem;
}

@media screen and (max-width: 920px) {
    .reviews-div {
        flex-direction: column;
        gap: 0rem;
    }

    .feedback-div {
        gap: 2rem;
    }

    .reviews-div {
        padding-bottom: 5rem;
    }

    app-review-container {
        padding-bottom: 5rem;
    }

    h1 {
        font-size: 32px;
        width: 328px;
    }

    #banner-subtitle-p {
        width: 328px;
    }
}