<div class="form-div">

    <div class="input-div">
        <label>Obțineți consultanță de specialitate</label>
        <input type="text" placeholder="Nume Complet">
    </div> 
    
    <div class="input-div">
        <label>Modernizați-vă cu soluții digitale.</label>
        <input type="text" placeholder="Email">
    </div>
    
    <div class="input-div">
        <label>Software personalizat pentru nevoile dumneavoastră.</label>
        <textarea placeholder="Mesajul dumneavoastră." rows="3"></textarea>
    </div>

    <button>Sumbit your information now.</button>

</div>

