<div class="form-div">

    <div class="input-div">
        <p>Obțineți consultanță de specialitate</p>
        <input type="text" placeholder="Nume Complet" required="true">
    </div> 
    
    <div class="input-div">
        <p>Modernizați-vă cu soluții digitale.</p>
        <input type="text" placeholder="Email" required="true">
    </div>
    
    <div class="input-div">
        <p>Software personalizat pentru nevoile dumneavoastră.</p>
        <textarea placeholder="Mesajul dumneavoastră." rows="3" required="true"></textarea>
    </div>

    <button>Sumbit your information now.</button>

</div>

