:host {
    display: block;
    width: 100%;
    height: auto;
    background-color: rgb(241, 239, 239, 0.25);
}

.rating-h6 {
    font-size: 1.1rem;
    padding: 2rem 2.4rem 0rem 3rem;
}

.text-p {
    padding: 1.5rem 3rem 2.4rem 3rem;
    height: auto;
}

.profile-div {
    padding: 1rem 2.4rem 2rem 3rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    height: 48px;
}

img {
    border-radius: 50%;
}

.data-div {
    display: flex;
    flex-direction: column;
}

.location-p {
    padding: 0px;
    font-size: medium;
}

strong {
    font-size: 16px;
}

@media (max-width: 920px) {
    :host {
        width: 328px;
        height: auto;
    }

    p {
        width: auto;
    }

    .profile-div {
        flex-direction: column;
    }

    * {
        align-self: center;
        text-align: center;
    }

    img {
        width: 40px;
        height: 40px;
    }
    
    .text-p {
        padding-bottom: 0rem;
    }

    .rating-h6 {
        padding-top: 1rem;
    }

    .data-div {
        margin-bottom: 6rem;
    }
}