.container {
    border-radius: 1px;

    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    justify-content: space-evenly;
}

.container-type-1 {
    width: 20%;
    background-color: rgba(255, 255, 255, 0.5);
    height: 160px;
    text-align: center;
    padding: 3rem;
    padding-top: 1.5rem;
    padding-bottom: 2.5rem;
}
.container-type-2 {
    width: 20%;
    background-color: white;
    height: 130px;
    padding: 3rem;
    padding-top: 1.5rem;
    padding-bottom: 2.5rem;
}
.container-type-3 {
    background-color: white;
    height: 100px;
    width: 32%;
    padding: 1rem;
    padding-bottom: 2rem;
}


.title {
    font-weight: 600;
}

.title-type-1 { color: white; }
.title-type-2 { color: black; }

.text-type-1 { color: white; }
.text-type-2 { color: black; }
