:host {
    display: block;
    width: 503px;
    position: relative;
    background-color: white;
    border-radius: 5%;
}

p {
    padding: 1rem;
}

img {
    border-radius: 5%;
}

h3 {
    padding: 1rem;
    padding-bottom: 0rem;
}

strong {
    position: absolute;
    font-size: 2rem;
    right: 20px;
    bottom: 105px;
}