:host {
    display: block;
    width: 100%;
    position: relative;
    background-color: white;
    border-radius: 5%;
}

div {
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 0.5rem;
    padding-left: 0rem;
    width: 100%;
}

#arrow {
    font-size: 30px;
    font-weight: bold;
    font-size: 32px;
    line-height: 1.3;
    position: absolute;
    right: 0px;
    top: 0px;
}

img {
    border-radius: 5%;
    width: 100%;
}

div .strong-size2 {
    margin-right: 2rem;
}