<app-solutions-component></app-solutions-component>

<app-title-texts-image
[title]="'Soluții software specializate și aplicații personalizate'"
[secundaryTitleNo1]="'Soluții inovatoare pentru succes'"
[secundaryTitleNo2]="'Soluții inovatoare pentru succes'"
[textNo1]="'Enovis oferă soluții software specializate, ce includ  metodologii moderne pentru eficientizarea  operațiunilor și controlul afacerii.'"
[textNo2]="'Echipa noastră are expertiza de a analiza sistemele actuale, să ofere sfaturi practice și să dezvolte software personalizat care să acopere nevoile de îmbunătățire a proceselor de business. '"
[src]="'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixid=M3wzOTE5Mjl8MHwxfHNlYXJjaHwxfHx0ZWNobm9sb2d5JTIwc29sdXRpb25zfGVufDB8fHx8MTcxOTcwMzc3MXww&ixlib=rb-4.0.3&auto=format&fit=crop&w=1224&h=424'"
></app-title-texts-image>